
.bg-color-pinkred{
	background:rgba(255,0,20,0.8);
}

.bg-color-silver{
	background: #F3F3F3;
}

.bg-color-grey{
	background: #A6A6A6;
}

.bg-color-white{
	background: #FFFFFF;
}

.text-color-red{
	color:#F00;
}

.text-color-white{
	color: #FFF;
}

.text-color-grey{
	color: rgba(0,0,0,0.8);
}