#account_head{
	padding: 10px;
	background: #FFF;
	height:40px;
	color: rgba(255,0,0,0.6);
}
body{
	background:#ECECEC;
}
.back-container{
	padding: 0px;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

@media (min-width: 768px){
	.corue-text{
		float:right !important;
		background:rgba(0,0,0,0.5); 
		padding:10px;
	}
	.corue-head{

	}
}

@media (max-width: 768px){
	.corue-text{
		float:right !important;
		background:rgba(0,0,0,0); 
		padding:10px;
	}
	.corue-head{
		font-size: 20px;
	}
}
