.blog-list{
	padding-left: 20px;
}
.facebook-button-share{
	background:#25B;
	color:#FFF;
	border-radius: 2px;
	text-shadow:0 1px 1px rgba(0,0,0,0.4);
}
.form-row{
	padding-top: 20px;
}

.login-head{
	background: rgba(255,0,20,0.7);
	padding: 10px 20px 10px 20px;
	color: #FFF;
	font-size: 20px;
}
.login{
	margin-top:50px;
}
.noborder{
	border: none;
}
.shadow-line{
	border-bottom:solid medium rgba(0,0,0,0.2);
}
.bill-btn{
	width: 100px;
	background: #F5F5F5;
}
.flat-btn{
	border: none;
	box-shadow: none !important;
}
.about-to-pay{
	margin-top: 20px;
	padding: 20px; 
	background:#EFEFEF;
	border-radius: 3px;
	color: #888;
}

.square{
	border-radius:2px !important;
	box-shadow: inset 1px 1px 2px rgba(100,100,100,0.2);
}

.table-head{
	text-align:center;
}

.picCart{
	width:100px;
}

.price-box{
	margin-top:30px;
	word-wrap: break-word;
	color:#555; 
	
}
.description{
	margin-top:30px;
	word-wrap: break-word;
	color:#555; 
	border-right:solid thin #CCC;
}
.side-cate{}
.productGroupMenu{}
.howtobuy{}
.head-marquee{
	color:#999;
    padding:5px 5px 5px 15px;
    margin-bottom:20px;
    box-shadow:0 0px 5px rgba(0,0,0,0.1);
}
.ProductPic{
	width:100%;height:220px;
	box-shadow: 5px 5px 0px rgba(100,100,100,0.1);
	opacity: 1;
    -webkit-transition: opacity 0.3s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.3s;
}
.ProductPic:hover{
	opacity:0.7;
} 	
.productPictmp{
	height: 40px;
	margin: 5px;
}
.ProductPicDetail{
	width:100%;height:350px;
	/*border-radius: 10px;*/
	border:5px solid #FFF;

	opacity: 1;
    -webkit-transition: border 0.5s; /* For Safari 3.1 to 6.0 */
    transition: border 0.5s;
}
.ProductPicDetail:hover{
	border:10px;
}
.bgdeal{
	}
 
.btn-howtopay{
}

.product-head{
	height: 350px;
	margin: 0px;
	padding: 5px;
}
.product-list{
	height: 350px;
	margin: 0px;
	padding: 5px;
	
}
.catelist{
	border: none;
	background: none;
	margin-left: -7px;
	padding: 5px 10px 5px 12px;
}
.option-pad{
	padding: 10px;
}
.search-text{
	margin-bottom: 10px;
	font-size: 18px;
	padding: 5px;
	color: #777777;
}
.about-us{
	background:#333333;
	/*height: 120px;*/
	box-shadow: inset 0 100px 60px rgba(100,100,100,0.1);
}

.onsale{
	/*height: 200px;*/
	padding: 0px !important;
	margin-top: -17px;

	/*overflow-x : hidden;
	overflow-y : scroll;
	*/
}

.saleItem {
	height: 200px;
	padding: 10px 40px 10px 25px;
	overflow: hidden;
	background-position: center;
	background-size: contain;
}


.floattab{
	z-index: 10000;
	position: relative;
	margin-top:-35px;
	margin-left: 80px;
	color: #FFF;
}
.carouInner{
	text-align:center;
}
.scroll-wrapper::-webkit-scrollbar {
    width: 0px;
}
.scroll-wrapper::-webkit-scrollbar-track {
}
.scroll-wrapper::-webkit-scrollbar-thumb {
}
.scroll-wrapper::-webkit-scrollbar-thumb:hover {
}
.tagDetail{
}
.innerDetail{
	background: #E8A917;
	color: #000 !important;
	text-shadow:none !important;
	padding: 5px;
}
.logo1{
	position:absolute;
	height:120px;
	width:180px;
	margin-top: -20px;
	z-index: 100000;
	margin-left: 20px;
}

@media (max-width: 480px){
.picCart{
	width: 0px;
}

}

@media (max-width: 620px){

.logo1{
	width:100px;
	margin-top: 10px;
}

.tagDetail{
		display: none;
	}
}
@media (max-width: 768px){
	.side-cate{
		display: none;	
	}
	.howtobuy{
		font-size: 20px;
	}
	.product-list{
		height: 330px;
		margin: 0px;
		padding: 5px;
		
	}
	.btn-howtopay{
		display: none;
	}
	.deal-text {
		display: none;
	}
	.onsale{
		margin-top: 0px;
		padding-bottom: 10px;
	}
	.saleItem {
		height: 100px;
		background:none;

	}
	.floattab{
		display: none;
	}
	.scroll-wrapper::-webkit-scrollbar {
	    width: 4px;
	}
	.scroll-wrapper::-webkit-scrollbar-track {
	    background-color: #eaeaea;
	    border-left: 0px solid #ccc;
	}
	.scroll-wrapper::-webkit-scrollbar-thumb {
	    background-color: #ccc;
	}
	.scroll-wrapper::-webkit-scrollbar-thumb:hover {
		background-color: #aaa;
	}

}
input{
	padding: 2px !important;
	box-shadow: none !important;
	border-radius: 1px !important;
	border: none !important;
	border-bottom: solid 2px #DDDDDD !important;
}
button{
	border:none !important;
	border-radius: 1px !important;
}
a{
	cursor: pointer;
	text-decoration: none;
	color: #E85151;
}
a:hover{
	color: #DB4242;
}
*{
	font-family: "PT Sans',sans-serif";
}
.tr-head{
	background:#EFEFEF;margin:5px 0 5px 0;
}
.cancel-order{
	color:#AAA;
}
.cancel-order:hover{
	color:#666;
	cursor: pointer;
}